.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    animation: fadeIn 1s ease-in-out; /* Remove typing animation */
    white-space: nowrap;
    overflow: hidden;
    /* Remove border-right for typing cursor */
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}